<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOTAZNÍK</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="bill">
    <H1>Anketa bez konce...</H1>
    
    <form action="/submit" method="post">

        Odpovídejte prosím blízce pravdy i na hloupé otázky.
        Na znamení souhlasu s odhalením vašich postojů a návyků sdělte jméno.
        <label for="name">Jméno:</label>
        <input type="text" id="name" name="name"><br><br>

        
        Vítejte u Dotazníku šitém na míru...


        ""
        1. Přibližně kolik hodin týdně strávíte mimo svůj dům ? 
        2. Přibližně kolik hodin strávíte "na cestách" (venkovní prostory) ?
        3. Přibližně kolik hodin týdně strávite mimo jakoukoliv zastavěnou oblast (příroda, pole...cokolvek)?
        
        4 . Na stupnici naznačte jak mnoho si ceníte svého času
        5.  Zkuste naznačit nakolik si ceníte svého volného času (v kontextu s minulou odpovědí)
        6. kde trávíte většinu "volného" času ? [options: OuTside, inside];

        7. jaké je vaše mínění o vaší osobě (vaše sebedůvěra)? 
        
        8. Čtete ? [options: z donucení, jen to co musím,, rád ,jsem knihomol]
        10. Myslíte, že knihy jsou již nezpůsobilý či zastaralý zdroj informací ?

        ""

        Pokud nám chcete zaslat odpovědi klikněte na odeslat 

        <button type="submit">Odeslat</button>
    </div>
</body>
</html>