<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESULTS</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <H1>Děkujeme za vaše odpovědi!</H1>
    - zde se můžete podívat na odpovědi vašich bližních...
    
        

</body>
</html>